slimerjs_cmd: "/opt/slimerjs-0.10.0/slimerjs"
git_repo_path: "/home/peekaboo/data"
pages:
  - title: "google"
    url: "https://google.com"
    selector: "#body"
  - title: "BBC"
    url: "https://www.bbc.com"
    selector: 'xpath://*[@id="page"]/section[3]/div/div/section[1]'
import_csv_urls:
  - "https://docs.google.com/spreadsheets/d/1h7TEsN7-G0i9LTXaZjNfZzaQYjwfcsBvIag-Df_zz-U/pub?gid=0&single=true&output=csv"
slack:
  incoming_webhook_url: ""
  channel: '#general'
  username: "peekaboo bot"
  icon: ":ghost:"

github_repo: "getalfred/peekaboo-data"


